@model Hierarquias.Models.Funcionarios

@{
    ViewData["Title"] = "Deletar Funcionario";
}

<h2>Deletar Funcionário</h2>

<p>Tem certeza de que deseja deletar este Funcionário?</p>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Nome:</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">Superiores:</dt>
        @if (Model.Superior != null)
        {
            <dd>@Model.Superior.Nome</dd>
        }
        else
        {
            <dd>Não possui superiores.</dd>
        }
        <dt class="col-sm-2">Subordinados:</dt>
        @if (Model.Subordinados.Any())
        {
            <dd>
                @foreach (var subordinado in Model.Subordinados)
                {
                    <dd>@subordinado.Nome - Cargo: @subordinado.Cargo</dd>
                }
            </dd>
        }
        else
        {
            <dd>Não possui subordinados.</dd>
        }
    </dl>
</div>
<p></p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Deletar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
