@model Hierarquias.Models.Funcionarios

<h2>Edit Funcionário: @Model.Nome</h2>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SuperiorId" class="control-label"></label>
        <div class="col-md-10">
            <select asp-for="SuperiorId" class="form-control">
                <option value="">Selecione um superior</option>
                @foreach (var funcionario in ViewBag.TodosOsFuncionarios)
                {
                    <option value="@funcionario.Id">@funcionario.Nome</option>
                }
            </select>
            <span asp-validation-for="SuperiorId" class="text-danger"></span>
        </div>
    </div>


    <!-- Outros campos de edição, se houver -->

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-danger">Cancelar</a>
    </div>
</form>
